<nav class="bg-gray-950 py-2 w-full sticky top-0 px-8">
  <div class="mx-auto flex justify-between items-center">
    <a href="#" class="text-white text-2xl font-semibold">
      <img src="/assets/db7.png" height="50" width="50" />
    </a>
    <ul class="flex gap-4">
      <li>
        <a href="#" class="text-white hover:text-gray-300 font-roboto-condensed"
          >Home</a
        >
      </li>
      <li>
        <a href="#" class="text-white hover:text-gray-300 font-oswald">About</a>
      </li>
      <li><a href="#" class="text-white hover:text-gray-300">Products</a></li>
      <li><a href="#" class="text-white hover:text-gray-300">Contact</a></li>
      <li><app-search /></li>
    </ul>
  </div>
</nav>
