<section class="justify-center bg-white">
  <div class="flex gap-5 max-md:flex-col max-md:gap-0">
    <div class="flex flex-col w-6/12 max-md:ml-0 max-md:w-full">
      <header
        class="flex flex-col grow items-center px-16 pt-20 pb-10 w-full bg-blue-100 max-md:px-5 max-md:max-w-full"
      >
        <section class="flex flex-col mt-24 max-w-full w-[561px] max-md:mt-10">
          <div
            class="flex overflow-hidden relative flex-col justify-center items-start px-14 py-20 w-full min-h-[444px] max-md:px-5 max-md:max-w-full"
          >
            <img
              loading="lazy"
              src="https://cdn.builder.io/api/v1/image/assets/TEMP/f75efeda6eeb8b6a449e636d550c3aa3a4f098778e1a5d395cd727e440762aaf?apiKey=d7cc7035de684a8790837ff8face36db&"
              alt=""
              class="object-cover absolute inset-0 size-full"
            />
            <img
              loading="lazy"
              src="https://cdn.builder.io/api/v1/image/assets/TEMP/7ab4380630dc8f7e6932ef7e5149ae520f39e48f125a059ad056d51ee5203279?apiKey=d7cc7035de684a8790837ff8face36db&"
              alt="ebidhya logo"
              class="mt-40 mb-11 aspect-square w-[53px] max-md:my-10"
            />
          </div>
          <h2
            class="mt-14 text-2xl font-semibold tracking-tight leading-9 text-slate-500 max-md:mt-10 max-md:max-w-full"
          >
            Get started with <span class="text-slate-500">ebidhya</span> and
            embrace your learning experience
          </h2>
          <p class="mt-5 text-base leading-7 text-stone-500 max-md:max-w-full">
            Learn from video courses by top instructors. Participate in Live
            tests, Discussions and Polls inside the app.
          </p>
          <div
            class="self-start mt-20 text-base tracking-normal leading-5 uppercase text-zinc-500 max-md:mt-10"
          >
            Download app
          </div>
          <div class="flex gap-2 self-start mt-3">
            <img
              loading="lazy"
              src="https://cdn.builder.io/api/v1/image/assets/TEMP/19785cf43c20e57b2422671aceb509f0ec323ea3d3a1bcab09f8deaa1e973f19?apiKey=d7cc7035de684a8790837ff8face36db&"
              alt="Download on App Store"
              class="shrink-0 w-32 max-w-full aspect-[3.33]"
            />
            <img
              loading="lazy"
              src="https://cdn.builder.io/api/v1/image/assets/TEMP/59465725fed4dc39f51b426f642e7d933b5af08bf1b47c866f9ef44643471e94?apiKey=d7cc7035de684a8790837ff8face36db&"
              alt="Get it on Google Play"
              class="shrink-0 self-start w-32 max-w-full aspect-[3.45]"
            />
          </div>
        </section>
      </header>
    </div>
    <div class="flex flex-col ml-5 w-6/12 max-md:ml-0 max-md:w-full">
      <main class="grow w-full bg-white max-md:max-w-full">
        <div class="flex gap-5 max-md:flex-col max-md:gap-0">
          <aside class="flex flex-col w-[18%] max-md:ml-0 max-md:w-full">
            <div class="flex flex-col grow mt-10">
              <img
                loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/fd22e7d97bcfa3bc3b939052d248acbcfa58bcd9f18366651e6830821d23e57b?apiKey=d7cc7035de684a8790837ff8face36db&"
                alt="ebidhya feature"
                class="self-end max-w-full aspect-[2.94] w-[119px]"
              />
            </div>
          </aside>
          <section class="flex flex-col ml-5 w-[82%] max-md:ml-0 max-md:w-full">
            <article
              class="flex flex-col px-5 text-base tracking-normal leading-5 max-md:mt-10 max-md:max-w-full"
            >
              <div
                class="flex gap-5 justify-between items-start font-medium text-neutral-400 max-md:flex-wrap max-md:max-w-full"
              >
                <form
                  class="flex flex-col self-end mt-80 max-md:mt-10 max-md:max-w-full"
                >
                  <h3
                    class="text-3xl font-semibold tracking-tighter text-neutral-600 max-md:max-w-full"
                  >
                    Sign up
                  </h3>
                  <p
                    class="mt-4 text-base tracking-normal text-stone-500 max-md:max-w-full"
                  >
                    Enter your credentials to Signup to ebidhya
                  </p>
                  <label for="email" class="sr-only"
                    >Email or Phone number</label
                  >
                  <input
                    type="text"
                    id="email"
                    placeholder="Email or Phone number"
                    class="justify-center px-5 py-4 mt-10 bg-white rounded-lg border border-solid shadow-sm border-stone-300 leading-[160%] max-md:max-w-full"
                    aria-label="Email or Phone number"
                  />
                  <label for="password" class="sr-only">Password</label>
                  <input
                    type="password"
                    id="password"
                    placeholder="Password"
                    class="justify-center px-5 py-4 mt-3 bg-white rounded-lg border border-solid shadow-sm border-stone-300 leading-[160%] max-md:max-w-full"
                    aria-label="Password"
                  />
                  <label for="confirmPassword" class="sr-only"
                    >Confirm Password</label
                  >
                  <input
                    type="password"
                    id="confirmPassword"
                    placeholder="Confirm Password"
                    class="justify-center px-5 py-4 mt-3 bg-white rounded-lg border border-solid shadow-sm border-stone-300 leading-[160%] max-md:max-w-full"
                    aria-label="Confirm Password"
                  />
                  <button
                    type="submit"
                    class="justify-center items-center px-12 py-4 mt-6 text-base font-semibold tracking-normal text-white rounded-lg bg-slate-500 max-md:px-5 max-md:max-w-full"
                  >
                    Log in
                  </button>
                </form>
              </div>
              <a
                class="self-start mt-56 ml-20 underline text-slate-500 max-md:mt-10 max-md:ml-2.5"
                >Already have an account?
                <span class="font-medium underline text-slate-500"
                  >Log in</span
                ></a
              >
            </article>
          </section>
        </div>
      </main>
    </div>
  </div>
</section>
