<div>
  <div class="grid grid-cols-2 gap-4">
    <ng-container *ngFor="let product of filteredProducts">
      <single-product
        (click)="selectedProduct = product"
        class="cursor-pointer"
        [product]="product"
        (incrementCartCount)="incrementCartCount(product)"
        (decrementCartCount)="decrementCartCount(product)"
      >
      </single-product>
    </ng-container>
  </div>
  <div class="flex mx-auto gap-4 justify-center">
    <button (click)="incrementCounter()">+</button>
    <p>{{ counter() }}</p>
    <p>{{ doubleCounter() }}</p>
    <button (click)="decrementCounter()">-</button>
  </div>
</div>
